{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<section class="wrapper">            
              <!--overview start-->
              <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> {{className}}</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/classes">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Class</li>                          
                    </ol>
                </div>
            </div>
            <div class="row">
            <div class="col-md-4 portlets">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Quick Post</div>
         
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                    
                      <div class="form quick-post">
                                      <!-- Edit profile form (not working)-->
                                      <form class="form-horizontal" method="get" action="/class/?id=ecbf057b-d0b1-405b-abc9-2a03569fef23&name=The%20Fellowship%20of%20the%20Ring">
                                          <!-- Title -->
                                          <input type="text" name="id" value="ecbf057b-d0b1-405b-abc9-2a03569fef23" hidden>
                                          <input tyep="text" name="name" value="The Fellowship of the Ring" hidden>
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="title">Title</label>
                                            <div class="col-lg-10"> 
                                              <input type="text" class="form-control" id="title" value="{{className}} | News Feed">
                                            </div>
                                          </div>   
                                          <!-- Content -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="content">Content</label>
                                            <div class="col-lg-10">
                                              <textarea class="form-control" id="content" style="height:100px;"></textarea>
                                            </div>
                                          </div>                           
                                          <!-- Cateogry -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-2">Category</label>
                                            <div class="col-lg-10">                               
                                                <select class="form-control">
                                                  <option value="">- Choose Cateogry -</option>
                                                  <option value="1">General</option>
                                                  <option value="2">News</option>
                                                  <option value="3">Media</option>
                                                  <option value="4">Funny</option>
                                                </select>  
                                            </div>
                                          </div>              
                                          <!-- Tags -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-2" for="tags">Tags</label>
                                            <div class="col-lg-10">
                                              <input type="text" class="form-control" id="tags">
                                            </div>
                                          </div>
                                          
                                          <!-- Buttons -->
                                          <div class="form-group">
                                             <!-- Buttons -->
                                             <div class="col-lg-offset-2 col-lg-9">
                                                <button type="submit" class="btn btn-primary">Publish</button>
                                                <button type="submit" class="btn btn-danger">Save Draft</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                             </div>
                                          </div>
                                      </form>
                                    </div>
                  

                  </div>
                </div>
              </div>
              
            </div>
             <div class="col-lg-8">
                      <!--Project Activity start-->
                      <section class="panel">
                          <div class="panel-body progress-panel">
                            <div class="row">
                              <div class="col-lg-8 task-progress pull-left">
                                  <h1>Messages</h1>                                  
                              </div>
                              <div class="col-lg-4">
                                <span class="profile-ava pull-right">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/gandalf.jpg">
                                        Gandalf
                                </span>                                
                              </div>
                            </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                              <tr onclick="document.location = '/messaging';">
                                  <td>Today</td>
                                  <td>
                                     I wanted to check in about Frodo...
                                  </td>
                                  <td>
                                      <span class="badge bg-important">Upload</span>
                                  </td>
                                  <td>
                                    <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/gandalf.jpg">
                                    </span>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Yesterday</td>
                                  <td>
                                      Can you explain the latest science...
                                  </td>
                                  <td>
                                      <span class="badge bg-success">Task</span>
                                  </td>
                                  <td>
                                      <div id="work-progress2"></div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>21-10-14</td>
                                  <td>
                                      Samwise needs help on his HW...
                                  </td>
                                  <td>
                                      <span class="badge bg-success">Task</span>
                                  </td>
                                  <td>
                                      <div id="work-progress3"></div>
                                  </td>
                              </tr>                              
                              <tr>
                                  <td>22-10-14</td>
                                  <td>
                                      Just wanted to let you know that...
                                  </td>
                                  <td>
                                      <span class="badge bg-primary">To-Do</span>
                                  </td>
                                  <td>
                                      <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/gandalf.jpg">
                                      </span>
                                  </td>
                              </tr>
                              <tr>
                                  <td>24-10-14</td>
                                  <td>
                                      Can you send more practice for...
                                  </td>
                                  <td>
                                      <span class="badge bg-info">Milestone</span>
                                  </td>
                                  <td>
                                      <div id="work-progress4"></div>
                                  </td>
                              </tr>                              
                              <tr>
                                  <td>28-10-14</td>
                                  <td>
                                    Thanks for sharing the recent update...
                                  </td>
                                  <td>
                                      <span class="badge bg-primary">To-Do</span>
                                  </td>
                                  <td>
                                      <div id="work-progress5"></div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Last week</td>
                                  <td>
                                      Please help Aragon with his proj...
                                  </td>
                                  <td>
                                      <span class="badge bg-primary">To-Do</span>
                                  </td>
                                  <td>
                                      <div id="work-progress1"></div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>last month</td>
                                  <td>
                                      Can you give me an update on Sam.
                                  </td>
                                  <td>
                                      <span class="badge bg-success">To-Do</span>
                                  </td>
                                  <td>
                                      <span class="profile-ava">
                                        <img alt="" class="simple" src="{{STATIC_URL}}img/gandalf.jpg">
                                      </span>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </section>
                      <!--Project Activity end-->
                  </div>
          </div>
          <!-- Today status end -->
            
              
                
            <div class="row">
                
                <div class="col-lg-6 col-md-12">    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-flag-o red"></i><strong>GradeBook</strong></h2>
                            <div class="panel-actions">
                                <a href="" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                               
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table bootstrap-datatable countries">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Email</th>
                                        <th>Avg. Grade</th>
                                        <th>Performance</th>
                                    </tr>
                                </thead>   
                                <tbody>
                                {% for student in students %}
                                    <tr onclick="document.location = '/gradebook?id={{student.id}}';">
                                        <td>{{student.name.actualNameOfRecord.givenName}} {{student.name.actualNameOfRecord.familyName}}</td>
                                        <td>{{student.email.0.emailAddress}}</td>
                                        <td>{{student.grade}}</td>
                                        <td>
                                            <div class="progress thin">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{student.grade}}" aria-valuemin="0" aria-valuemax="100" style="width: {{student.grade}}%">
                                                </div>
                                           
                                            </div>
                                            <span class="sr-only">{{student.grade}}</span>    
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
    
                    </div>  

                </div><!--/col-->
                <div class="col-lg-6 col-md-12">    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><i class="fa fa-flag-o red"></i><strong>Assigments</strong></h2>
                            <div class="panel-actions">
                                <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table bootstrap-datatable countries">
                                <thead>
                                    <tr>
                                        <th>Assignment Name</th>
                                        <th>Description</th>
                                        <th>Due Date</th>
                                    </tr>
                                </thead>   
                                <tbody>
                                    {% for assignment in notCompleteAssignments %}
                                    <tr>
                                        <td>{{assignment.name}}</td>
                                        <td>{{assignment.description}}</td>
                                        <td>{{assignment.dueDate}}</td>
                                        <td style="min-width:100px">
                                            <div class="progress thin">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{assignment.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{assignment.percent}}%">
                                                </div>
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{assignment.percentLeft}}" aria-valuemin="0" aria-valuemax="100" style="width: {{assignment.percentLeft}}%">
                                               </div>
                                            </div>
                                            <span class="sr-only">57%</span>    
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
    
                    </div>  

                </div><!--/col-->
                </div>
                <div class="row">
                <div class="col-sm-12">
                      <section class="panel">
                          <header class="panel-heading">
                              Parent Check-in Reminder
                          </header>
                          <table class="table table-hover">
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Messaged</th>
                                  <th>Email</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Carol Smiggle</td>
                                  <td>2 weeks ago</td>
                                  <td><a href="/process-email">Send Email</a></td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Dan Smith</td>
                                  <td>10 Days ago</td>
                                  <td><a href="/process-email">Send Email</a></td>
                              </tr>
                        
                              </tbody>
                          </table>
                      </section>
                  </div>
              </div>
                
              </div>

                    
                   
                <!-- statics end -->

                 
              </div><br><br>
        
              <!-- project team & activity end -->

          </section>

{% endblock %}