{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<section class="wrapper">            
              <!--overview start-->
              <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-laptop"></i> Messaging</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/classes">Home</a></li>
                        <li><i class="fa fa-laptop"></i>Messaging</li>                          
                    </ol>
                </div>
            </div>   
                <!-- statics end -->
              
            
                

              <!-- project team & activity start -->
          <div class="row">
          <div class="col-md-3 portlets"></div>
            <div class="col-md-6 portlets">
              <!-- Widget -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left">Message</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                <div class="panel-body">
                  <!-- Widget content -->
                  <div class="padd sscroll">
                    
                    <ul class="chats">

                      <!-- Chat by us. Use the class "by-me". -->
                      <li class="by-me">
                        <!-- Use the class "pull-left" in avatar -->
                        <div class="avatar pull-left">
                          <img src="{{STATIC_URL}}img/user.jpg" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In meta area, first include "name" and then "time" -->
                          <div class="chat-meta">Carol Smeagol <span class="pull-right">3 hours ago</span></div>
                          Of course. Also, if he’s struggling with content, he can always come see me after school
                          <div class="clearfix"></div>
                        </div>
                      </li> 

                      <!-- Chat by other. Use the class "by-other". -->
                      <li class="by-other">
                        <!-- Use the class "pull-right" in avatar -->
                        <div class="avatar pull-right">
                          <img src="{{STATIC_URL}}img/gandalf40.jpg" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In the chat meta, first include "time" then "name" -->
                          <div class="chat-meta">3 hours ago <span class="pull-right">Gandalf</span></div>
                          What days are you available?
                          <div class="clearfix"></div>
                        </div>
                      </li>   

                      <li class="by-me">
                        <div class="avatar pull-left">
                          <img src="{{STATIC_URL}}img/user.jpg" alt=""/>
                        </div>

                        <div class="chat-content">
                          <div class="chat-meta">Carol Smeagol <span class="pull-right">4 hours ago</span></div>
                          Tuesdays and Thursdays from 2:30-3:30. Would you like to do a parent teacher conference on video chat?
                          <div class="clearfix"></div>
                        </div>
                      </li>  

                      <li class="by-me">
                        <!-- Use the class "pull-right" in avatar -->
                        <div class="avatar pull-right">
                          <img src="{{STATIC_URL}}img/gandalf40.jpg" alt=""/>
                        </div>

                        <div class="chat-content">
                          <!-- In the chat meta, first include "time" then "name" -->
                          <div class="chat-meta">3 hours ago <span class="pull-right">Video Chat</span></div>
                          <a href="https://opentokrtc.com/TeachTeam">Video Chat Start</a>
                          <div class="clearfix"></div>
                        </div>
                      </li>      
                      <li id="newMessage" class="by-other">
                        
                      </li>


                    </ul>

                  </div>
                  <!-- Widget footer -->
                  <div class="widget-foot">
                      
                      <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="message" placeholder="Type your message here...">
                        </div>
                        <div class="btn btn-info" onclick="sendMessage();">Send</div>
                      </form>


                  </div>
                </div>


              </div> 
            </div>

                  
              </div><br><br>
              <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                      <section class="panel">
                          <header class="panel-heading">
                              Auto-Message Settings
                          </header>
                          <table class="table table-hover">
                              <thead>
                              <tr>
                                  <th>Condition</th>
                                  <th>Message</th>
                                  <th>Parent/Student</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td><input type="text" value="< 80% on test"></td>
                                  <td>Student scored less than 80% on the test. Please schedule an extra help session.</td>
                                  <td><input type="checkbox" checked><input style="margin-left:30px"type="checkbox" checked></td>
                              </tr>
                              <tr>
                                  <td><input type="text" value="> 90% on test"></td>
                                  <td>Student scored over 90% on the test. Keep up the great work!</td>
                                  <td><input type="checkbox" checked><input style="margin-left:30px"type="checkbox"></td>
                              </tr>

                              
                              </tbody>
                              <strong><a>+ Add new Auto Message Condition</a></strong>
                          </table>
                      </section>
                  </div>

              </div>
 
              <!-- project team & activity end -->

          </section>

{% endblock %}